# Copy this file to .env and fill in your values
SECRET_KEY=django-insecure-docker-secret-key-123

# Django Database connection
DB_NAME=aquaculture_db
DB_USER=aqua_user
DB_PASSWORD=aqua_password
DB_HOST=db
DB_PORT=5432

# PostgreSQL container initialization
POSTGRES_DB=aquaculture_db
POSTGRES_USER=aqua_user
POSTGRES_PASSWORD=aqua_password

# Debug mode (set to False in production)
DEBUG=True

#H: ai service
AI_SERVICE_URL=http://ai:8001

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0